#root {
    height: 100%;
}

#app{
    height: 100%;
}

#home{
    height: 100%;
}

#test{
  padding-left: 0%;
}
 
  html,
  body {
    position: relative;
    height: 100%;
  }  

  body {
    background: #eee;
    color: #000;
    margin: 0;
    padding: 0;
  }  

.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
  width: 10%; 
  height: 10%; 
  
}

.FooterBox {
  padding: 60px 60px;
  background: darkgray;
  position: fixed;
  max-width: 1200px;
  bottom: 0;
  width: 100%;
  margin: auto;
  overflow-x: hidden;

}

.FooterHeader2Text{
  font-size: 18px;
  color: aliceblue;
}
